* {
	font: 12px Helvetica,Arial,Verdana;
	margin:0;
	padding:0;
}


#topo {
	margin:20px auto;
	width:768px;
	text-align: center;
}

#menu {
    margin: 0 auto;
    padding: 0 10px;
    border: 2px #1c2b5c solid;
    border-bottom: 0;
    border-radius: 20px 20px 0px 0px;
    background-color: #0c6fae;
    text-align: center;
    width: 768px;
}

#menu ul {
    font-size: 14px;
    padding:0px;
    margin:0px;
    background-color:#0c6fae;
    list-style:none;
    border-radius: 20px;
}

#menu ul li { display: inline; }

#menu ul li a {
    padding: 10px;
    font-size: 14px; 
    display: inline-block;
 
    /* visual do link */
    background-color:#0c6fae;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    border-top:3px solid #0c6fae;
    border-bottom:3px solid #0c6fae;
}

#menu ul li a:hover {
    background-color:#D6D6D6;
    color: #333;
    border-top:3px solid #D6D6D6;
    border-bottom:3px solid #D6D6D6;
}

#rodape {
	margin:30px auto;
	text-align:center;
}

#rodape p {
	font:11px Helvetica,arial,verdana;
	color:#000;
}
#conteudo {
	margin: 0px auto 20px;
	width:768px;
	background: #ccc;
    border: 2px #999 solid;
    border-top: 0;
	border-radius:0 0 20px 20px;
    padding:10px;
}

#conteudo h1 {
	font:20px Helvetica,Arial,Verdana;
	margin: 10px 20px;
	color:#0c6fae;
}

#conteudo h2 {
	font:14px Helvetica,Arial,Verdana;
	font-weight:bold;
	margin: 25px 20px 10px;
	color:#0c6fae;
}

#conteudo p {
	margin: 10px 20px;
	text-align:justify;
	color: #424343;
}

#conteudo p b {
	font-weight:bold;
	font-style:italic;
}

#conteudo p a{
	color:#0c6fae;
	text-decoration:none;
}

#conteudo p a:hover{
	color:#333;
	text-decoration:underline;
}

#conteudo ul { 
	margin: 2px 0 22px 0px;
	color: #424343;
}

#conteudo ul li { 
	list-style-type: none;
  	background: url('../images/bullet.png') no-repeat;
  	margin: 0 0 6px 20px; 
  	padding: 0 0 0 15px;
	vertical-align:middle;
	line-height:15px;
}

#conteudo ul li a{
    color:#0c6fae;
    text-decoration:none;
}

#conteudo ul li a:hover{
    color:#333;
    text-decoration:underline;
}

.first {
	border-top:1px #ccc solid;
}

.title-league {
    font:26px Helvetica,Arial,Verdana;
    color:#0c6fae;
}


